.example {
  padding: 25px 20px;
  background-color: #f2f2f2;

  &__title {
    margin: 0;
    padding: 25px 20px 8px;
    color: #111111;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    background-color: #f2f2f2;
  }

  &__text {
    padding: 0;
    margin: 0 0 25px;
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    position: relative;
    width: 124px;
    min-height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin-bottom: 19px;

    &--amount {
      width: 100%;
      border: 0;
      padding: 15px;
      margin-bottom: 0;
    }
  }

  &__quantity {
    color: #111111;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__item-text {
    position: absolute;
    bottom: -11px;
    left: 19px;
    text-align: center;
    width: 82px;
    height: 19px;
    color: #444444;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    background-color: #f2f2f2;
    text-transform: lowercase;
    z-index: 1;
  }

  &__item-amount .example__quantity {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__item-amount .example__item-text {
    position: static;
    font-family: "Oswald";
    color: #111111;
    font-size: 14px;
    text-transform: uppercase;
  }
}
@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    padding: 0;

    &__info {
      padding: 0 30px;
    }

    &__title {
      border-top: 1px solid #e6e6e6;
      font-size: 60px;
      line-height: 60px;
      padding: 45px 30px 64px;
      margin-top: -32px;
      background-color: #ffffff;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 53px;
    }

    &__list {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__item {
      width: 162px;
      min-height: 72px;

      &--amount {
        width: auto;
        padding: 10px 0;
        margin-left: auto;
        text-align: right;
      }

      &:first-child {
        margin-right: 42px;
      }
    }

    &__quantity {
      font-size: 30px;
      line-height: 65px;
    }

    &__item-text {
      width: 129px;
      min-width: 114px;
      height: auto;
      padding: 0 10px;
      bottom: -5px;
      left: 14px;
      background-color: #ffffff;
    }

    &__item-amount {
      width: 190px;
    }

    &__item-amount .example__quantity {
      font-size: 20px;
      line-height: 20px;
    }

    &__item-amount .example__item-text {
      font-size: 20px;
      line-height: 36px;
      padding: 0;
    }
  }
}
@media (min-width: $desktop-width) {
  .example {
    border-top: 0;
    background-color: #f2f2f2;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 110px;
    }

    &__title {
      border-top: 0;
      max-width: 1440px;
          padding: 77px 110px;
      margin: 0 auto;
    }

    &__info {
      width: 570px;
      min-height: 462px;
      padding: 0;
      background-color: #f2f2f2;
    }

    &__text {
      width: 450px;
      margin-top: 73px;
      margin-bottom: 67px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: 162px;
      height: 72px;
      margin-right: 42px;
      margin-bottom: 53px;

      &--amount {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
      }
    }

    &__item-amount {
      width: auto;
      padding: 0;
      text-align: left;
    }

    &__item-text {
      background: #f2f2f2;
    }

    &__item-amount .example__quantity {
      margin-right: 60px;
    }

    &__item-amount .example__item-text {
      padding: 0;
    }
  }
}
