.example {
  padding: 25px 20px;
  background-color: #f2f2f2;

  &__title {
    margin: 0 0 25px;
    padding: 0;
    color: #111111;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }

  &__text {
    padding: 0;
    margin: 0 0 25px;
    color: #444444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    position: relative;
    width: 124px;
    min-height: 56px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    margin-bottom: 25px;

    &--amount {
      width: 100%;
      border: 0;
      padding: 15px;
    }
  }

  &__quantity {
    color: #111111;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__item-text {
    position: absolute;
    bottom: -7px;
    left: 17px;
    text-align: center;
    width: 82px;
    height: 19px;
    color: #444444;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    background-color: #f2f2f2;
    text-transform: lowercase;
    z-index: 1;
  }

  &__item-amount .example__quantity {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__item-amount .example__item-text {
    position: static;
    font-family: "Oswald";
    color: #111111;
    font-size: 14px;
    text-transform: uppercase;
  }
}
@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid #e6e6e6;
    background-color: #ffffff;
padding: 0;
    &__info {
      padding: 45px 30px 0;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 60px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }

    &__list {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__item {
      width: 162px;
      min-height: 72px;

      &--amount {
        width: auto;
        padding: 10px;
        margin-left: auto;
        text-align: right;
      }

      &:first-child {
        margin-right: 42px;
      }
    }

    &__quantity {
      font-size: 30px;
      line-height: 65px;
    }

    &__item-text {
      width: 129px;
      min-width: 114px;
      height: auto;
      padding: 0 10px;
      bottom: -6px;
      left: 14px;
      background-color: #ffffff;
    }

    &__item-amount {
      width: 200px;
    }

    &__item-amount .example__quantity {
      font-size: 20px;
      line-height: 20px;
    }

    &__item-amount .example__item-text {
      font-size: 20px;
      line-height: 27px;
    }
  }
}
@media (min-width: $desktop-width) {
  .example {}
}
