.extra-product {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    margin: 20px;
  }

  &__line {
    display: block;
    flex-grow: 1;
    height: 3px;
    background-color: #68b738;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  &__item {
    padding: 14px 0 17px;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }

  &__name {
    display: block;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  &__table {
    width: 100%;
    color: #444;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 13px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    width: 100%;
  }

  &__promo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 289px;
    margin: 40px 20px 35px;
    padding: 65px 50px 45px;
    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }
  }

  &__promo-icon {
    width: 55px;
    height: 60px;
  }

  &__promo-link {
    color: white;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}
@media (min-width: $tablet-width) {
  .extra-product {
    &__wrapper {
      margin-top: -140px;
      margin-left: 30px;
      min-height: 168px;
    margin-bottom: 13px;

    }

    &__title {
      position: relative;
      font-size: 36px;
      line-height: 36px;
      margin: 0 37px;

      &::before {
        content: "";
        position: absolute;
        left: -67px;
        top: 17px;
        width: 30px;
        height: 3px;
        background-color: #68b738;
      }
    }

    &__list {
      padding: 0 30px;
      border: 0;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      padding: 22px 36px 28px 37px;
      border: 1px solid #cdcdcd;
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px solid #cdcdcd;
      }
    }

    &__name {
      flex-grow: 1;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 24px;
    }

    &__table {
      width: auto;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }
&__cell:first-child {
    margin-right: 46px;

}
    &__promo {
      width: 708px;
      min-height: 200px;
      margin: 69px auto 76px;
      padding: 65px 115px 75px 90px;
      flex-direction: row;
      background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
      background-size: cover;
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }
    }

    &__promo-link {
      width: 160px;
      text-align: left;
    }
  }
}
@media (min-width: $desktop-width) {
  .extra-product {
    width: 1440px;
    margin: 0 auto 85px;
    display: flex;
    flex-wrap: wrap;

    &__wrapper {
      width: 100%;
      margin-left: 71px;
      min-height: 191px;
      margin-bottom: 0;
    }

    &__title {
      &::before {
        width: 110px;
        left: -148px;
      }
    }

    &__list {
      width: 895px;
      padding: 0;
      margin-left: 110px;
      margin-right: 80px;
    }

    &__item {
      padding: 15px 0;
      justify-content: space-between;
      align-items: center;
      border-left: 0;
      border-right: 0;
    }

    &__name {
      width: 285px;
      flex-grow: 0;
      margin: 0;
    }

    &__table {
      width: 285px;
      margin: 0;
    }

    &__link {
      width: 245px;
      margin: 0;
    }

    &__promo {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 245px;
      height: 289px;
      margin: 0;
      padding: 65px 37px 28px;
      background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
      background-size: cover;
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
      }
    }

    &__promo-icon {
      margin-bottom: 65px;
    }

    &__promo-link {
      text-align: center;
    }
  }
}
