.footer-copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  padding-top: 13px;

  &__link {
    color: #444444;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    &:hover,
    &:focus {
      color: $green;
    }
    &:active {
      opacity: 0.3;
    }
  }

  &__img {
    width: 27px;
    height: 34px;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: $green;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
@media (min-width: $tablet-width) {
  .footer-copyright {
    justify-content: flex-end;
    padding: 0;

    &__img {
      margin-left: 25px;
    }
  }
}
