.footer-logo {
  width: 100%;
  min-height: 62px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
&__link {
      padding: 6px 0;
}
  &__img {
    width: 128px;
    height: 24px;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
@media (min-width: $tablet-width) {
  .footer-logo {
    align-items: center;
    justify-content: flex-start;
    border-bottom: 0;
  }
}
