.main-nav {
  &__list {
    @include list-reset;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__toggle {
    display: block;
    position: absolute;
    top: 23px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
  }

  &--closed .main-nav__toggle {
    width: 24px;
    height: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #222222;
      box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
    }
  }

  &--opened .main-nav__toggle {
    right: 20px;
    width: 20px;
    height: 20px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      right: -1px;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 65px;
    color: #111111;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__link {
    color: #111111;

    &:focus,
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--menu {
      display: flex;
    }
  }

  .main-nav {
    &__img {
      width: 101px;
      height: 18px;
    }

    &__img--logo {
      position: absolute;
      width: 33px;
      height: 38px;
      left: 20px;
    }
  }
}
@media (min-width: $tablet-width) {
  .main-nav {
    &__list {
      flex-direction: row;
      justify-content: space-between;
    }

    &__toggle {
      display: none;
    }

    &__img {
      width: 173px;
      height: 58px;
    }

    &__img--logo {
      display: none;
    }

    &__item {
      width: auto;
      justify-content: flex-start;
      border: 0;
      padding: 0;
      margin-right: 36px;

      &:last-child {
        margin-right: 0;
      }

      &--active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: 20px;
          height: 2px;
          background: #68b738;
        }
      }

      &--menu {
        flex-grow: 1;
      }
    }

    &__link {
      color: #222222;
      font-size: 18px;
      font-weight: 400;
      padding: 12px 0;
    }
  }
}
@media (min-width: $desktop-width) {
  .main-nav {
    &__img {
      width: 202px;
      height: 59px;
    }

    &__item {
      margin-right: 35px;

      &--active::after {
        bottom: 8px;
        background-color: #68b738;
      }
    }

    &--index .main-nav__item--active::after {
      background: #ffffff;
    }

    &--index .main-nav__link {
      color: white;
    }

    &__link {
      color: #111111;
    }

    &__link {
      padding: 0;
      font-size: 20px;
    }
  }
}
