.page-main {
  &--catalog .page-main__title {
    margin: 0;
    padding: 20px 20px 33px;
    color: #111;
    min-height: 103px;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    border-bottom: 1px solid #ededed;
  }
}
@media (min-width: $tablet-width) {
  .page-main {
    &--catalog .page-main__title {
      font-size: 60px;
      line-height: 60px;
      border-bottom: 0;
      padding: 30px;
      margin-bottom: 136px;
    }
  }
}
@media (min-width: $desktop-width) {
  .page-main {
    &--catalog .page-main__title {
      padding: 70px 110px;
      margin-bottom: 97px;
    }
  }
}
