body,
html {
  min-width: 320px;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: auto;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $white;
  font-weight: normal;
  color: $grey;
}
@media (min-width: $desktop-width) {
  body {
    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #111111;
  text-decoration: none;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  flex-grow: 1;
  padding: 10px 15px;
  color: #444444;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    padding: 9px 14px;
  }

  &:invalid {
    border: 2px solid #ff8282;
    padding: 9px 14px;
  }
}
.no-overflow {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
